.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_container {
    height: 5rem;
    
    position: sticky;
    top: 0;
    width: 100%;

    background-color: var(--black-800);
    border-bottom: 1px solid var(--purple-500);

    filter: opacity(0.9);
}

.header_container a {
    font-size: 1rem;
    color: var(--purple-200);
    font-weight: bold;
}

.header_container a:hover {
    color: var(--purple-500);
}

.header_content {
    max-width: 1120px;
    padding: 0 1.5rem;

    @media screen and (min-width:800px) {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.menu {
    display: none;

    @media screen and (min-width:800px) {
        display: block;
    }
}

.menu_list {
    list-style: none;
    text-align: center;
}

.menu_list li {
    margin: 0 0 0 1rem;
}

/* SWITCH */
.switch {
    position: relative;
    display: none;
    width: 40px;
    height: 20px;
    margin: 0 0 0 1rem;
        
    @media screen and (min-width:800px) {
        display: inline-block;
    }
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--purple-200);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--purple-200);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(18px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.home_container {
    max-width: 1120px;
    margin: 1rem auto;
    padding: 0 2rem;
    height: calc(100vh - 100px);

    @media screen and (min-width:800px) {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
    }
}

.home_container p,
h1,
h4 {
    text-align: center;
    font-size: 1rem;
}

.home_container h4 {
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0;
}

.home_container h1 {
    font-size: 2.25rem;
    line-height: 3rem;
    font-weight: bold;
}

.home_container p {
    margin: 1rem 0;
}

.home_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width:800px) {
        width: 50vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.home_container .btn {
    width: 40%;
}

.home_content__img {
    display: none;

    @media screen and (min-width:800px) {
        display: flex;
        width: 75%;
    }
}

.section_container {
    max-width: 1120px;
    margin: -1.5rem auto;
    padding: 0 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width:800px) {
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        padding: 0 1rem;
    }
}

.section_container img {
    width: 50%;
    border: 5px solid var(--purple-500);
    border-radius: 50%;

    @media screen and (min-width:800px) {
        display: flex;
        width: 35%;
    }
}

.section_container p,
h1 {
    text-align: center;
    font-size: 1rem;
}

.section_container h1 {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: bold;
}

.section_container p {
    margin: 1rem 0;
}

.section_github{
    justify-content: space-evenly;
}

footer {
    margin: 2rem 0 0 0;
    padding: 2rem;
    background-color: var(--purple-500);
    filter: opacity(0.9);
    font-weight: bold;

    @media screen and (min-width:800px) {
        margin: 0;
    }
}